body {
    background: linear-gradient(to left, #3494e6, #D741A7);
}

.container {
    padding-left: 25%;
    padding-top: 15%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: 20px;
    width: 28%;
    height: 28%;
    position: relative;
    left: 25vh;
    top: -150px;
}

.title{
    padding-left: 5%;
}

.card-title {
    text-align: center;
    font-family: Bubblegum Sans;
    font-size: 30px;
}

.card-text {
    text-align: center;
    font-size: 20px;
}

.card-deck {
    padding-left: 20%;
    padding-top: 13%;
    width: 100%;
}
