html, body img{
 
  margin: 0;
  overflow: hidden;
  width: 100%;
    height: 100%;
}


.title{
  font-family: "Open Sans", sans-serif;
  color: blue;
  font-size: 6rem; 
}
.banner-title {
  font-family: "Open Sans", sans-serif;
  color: yellow;
  font-size: 6rem;

}
.banner-link {
  font-size: 1.5rem;
  color: blue;
  border: 0.2rem solid blue;
}
.banner-link:hover {
  background-color: blue;
  color: white;
}
.carousel-caption{
  position: absolute;
  top: 50vh;
  left: 100vh;
  transform: translateY(-50%);

}

.slogan{
  font-size: 2rem;
  margin-top: 1rem;
}


.modalBG{
  margin: 0;
  width: 100vh ;
  height: 20vh;
  border-radius: 1vh;
}

.slt{
  
  width: 100%;
  padding: 5px 50px;
 
}

.date{
  width: 100%;
  padding: 5px 0 3px 0px;
}