body {
    background: linear-gradient(to left, #3494e6, #D741A7);
}

.form {
    padding: 5% 0px 0px 35%;
    margin: 20px;
}

div {
    margin: 15px;
}

input {
    border-radius: 20px;
    outline: none;
    border: none;
    width: 260px;
    height: 35px;
}

label {
    font-size: 25px;
    font-family: Bubblegum Sans;
    padding-bottom: 10px;
}

#avatarLvl{

position: relative;
left: 22vh;

}

.clickMe{

position: relative;
left: 18rem;

}

.clickAvatar{

    position: relative;
left: 29vh;
padding-bottom: 10px ;

}

#editBtn {
    border-radius: 20px;
    outline: none;
    border: none;
    width: 200px;
    height: 35px;
    font-family: Bubblegum Sans;
    font-size: 25px;
    background-color: #3A1772;
    color: #D741A7;
    position: relative;
    left: 10%;
}

#editModalBtn {
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100px;
    height: 45px;
    font-family: Bubblegum Sans;
    font-size: 25px;
    background-color: #3A1772;
    color: #D741A7;
}

#editModalBtn:hover {
    color: #F2CD5D;
}

#editBtn:hover {
    color: #F2CD5D;
}

.container {
    padding-left: 25%;
    padding-top: 15%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: 20px;
    width: 25%;
    height: 15%;
    position: relative;
    left: 25vh;
    top: -150px;
}

.title{
    padding-left: 5%;
}

.card-title {
    text-align: center;
    font-family: Bubblegum Sans;
    font-size: 30px;
}

.card-text {
    text-align: center;
    font-size: 20px;
}

.card-deck {
    padding-left: 5%;
    padding-top: 10%;
    width: 100%;
}

.claimBtn {
    border-radius: 20px;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    font-family: Bubblegum Sans;
    font-size: 25px;
    background-color: #3A1772;
    color: #D741A7;
}

.claimBtn:hover {
    color: #F2CD5D;
}