body {
    background-color: #E4E4E4;
}

.container {
    padding-left: 25%;
    padding-top: 5%;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: 20px;
    width: 60%;
    height: 35%;
    position: relative;
    left: 50vh;
    top: 15vh;
}

.card-title {
    position: relative;
    left: 33vh;
    top: -15vh;
    text-align: center;
}

.title{

    position: relative;
    font-size: 5rem;
    top: 10vh;
    left: 15vh;
    text-align: center;
}


.quizzButton {
    position: relative;
    left: 100vh;
    top: 20vh;
    margin-bottom: 25vh;
    border-radius: 30px;
    width: 150px;
    height: 40px;
}

#cardImg{

    width: 10rem;
    height: 10rem;
    position: relative;
    left: -10vh;
    top: 12vh;
}

.card label {
    position: relative;
    color: #bb198a;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: 2px solid #d6c915;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    padding: 20px 5px;
    margin: 10px;
    top: -10vh;
    left: 35vh;
  }


input[type="radio"] {
    display: none;
  }

input[type="radio"]:checked + label {
    background-color: #d1c51e;
    color: white;
  }