body {
    background: linear-gradient(to left, #3494e6, #D741A7);
}

.container {
    padding-left: 30%;
    padding-top: 5%;
}

.card {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: 20px;
    width: 28%;
    height: 28%;
}

.card-title {
    text-align: center;
    font-family: Bubblegum Sans;
    font-size: 30px;
}


.card label {
    position: relative;
    color: #bb198a;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: 2px solid #d6c915;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    padding: 20px 5px;
    margin: 10px;
    top: -10vh;
    left: 35vh;
  }

.play{

    text-align: center;
    font-family: Bubblegum Sans;
    color: white;
    background-color: #eb1aac;
    font-size: 20px;
    position: relative;
    left: 35%;
    border-radius: 10%;
    border: 1px solid black;
    

}

.play:hover{
    background-color: #d31d9c;
    color:black;
}

.container-fluid{
    padding-left: 15%;
    padding-top: 1%;
    width: 50%;
}

.title{
    padding-left: 5%;
}

.submit{
position: relative;
   left: 37%;
   font-size: 20px;
   border-radius: 10px;

}

.submit:hover{

background-color: #d31d9c;
color: white;

}

.info{

    position: relative;
    left: 40%;
    top: 10vh;
}

#Table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 70%;
    position: relative;
    top: 5vh;
    left: 50vh;
    background: linear-gradient(to left, #3494e6, #D741A7);
  }
  
  #Table td, #Table th {
    border: 2px solid #ddd;
    padding: 1px;
    height: 60px;
    width: 30px;
  }

  #Table th {
    
    text-align: center;
     background-color: #ab48e4; 
     color: white; 
  }

 
.card-text {
    text-align: center;
    font-size: 20px;
}

.card-deck {
    padding-left: 20%;
    padding-top: 5%;
    width: 100%;
}

i {
    color: #F2CD5D;
    padding-right: 10px;
}
